.btn-table{
  max-height: 40px;
  min-width: 40px;
}

.btn-add{
  
}

.table-wrapper {
  overflow-y: auto;
}

/* Sticky header */
.table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.form-control {
  width: 100%;
  border: none;
  border-radius: 10px;
}

.side {
  max-width: 18%;
  height: calc(100vh - 200px);
  overflow: auto;
}

